@charset "UTF-8";

/*PALETAS DE CORES
#BF0F30
#F2B705
#F2A663
#BF6734
*/

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-image: url('../imagens/imagem-612x340.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #BF0F30,
    #BF6734, #F2A663);
    box-shadow: 1px 1px 2px #BF0F30;
}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #F2B705;
    text-shadow: 1px 1px 6px black;
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
}

header p {
    color: #F2B705;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding-bottom: 20px;
}

span#opcoes {
    background-color: black;
    color: #F2B705;
    padding: 5px;
    display: block;
    text-align: center;
}

span#opcoes:hover {
    background-color: rgba(0, 0, 0, 0.89);
    cursor: pointer;
}

menu {
    display: none;
    transition: all 0.3s ease;
}


menu > ul {
    list-style-type: none;
}

menu > ul > li {
    padding-bottom: 5px;
}

menu > ul > li:hover {
    text-decoration: underline #F2A663;
}

header a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: #BF0F30;
    color: #F2B705;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
    padding-bottom: 5px;
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 20px;
}

main > h2 {
    background-image: linear-gradient(to bottom, #BF0F30,
    #BF6734, #F2A663);
    color: #F2B705;
    box-shadow: 1px 1px 2px #BF0F30;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 6px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: center;
}

main > div {
    background-color: rgba(255, 255, 255, 0.916);
    height: 100vh;
}

main fieldset {
    padding-left: 20px;
    display: inline;
    width: 200px;
}

.ham {
    display: flex;
    justify-content: space-between; /* Distribui os fieldsets com espaços entre eles */
    flex-wrap: wrap; /* Permite que eles quebrem para a linha seguinte se necessário */
    gap: 20px; /* Adiciona espaço entre os fieldsets */
}

fieldset {
    width: 45%; /* Controla o tamanho de cada fieldset */
    border: 2px solid #ddd; /* Um exemplo de borda */
    padding: 15px;
    box-sizing: border-box; /* Garante que o padding não afete a largura do fieldset */
}

img {
    width: 100px; /* Mantém o tamanho da imagem conforme estava antes */
    height: auto; /* Ajusta a altura para manter a proporção da imagem */
}

